@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20%); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes animWidth {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
